.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 30vh;
  color: #ffffff;
  font-family: "DM Serif Display", sans-serif;
  color: #000;
  line-height: 1.2;
  padding: 0 2%;
  .container-fluid {
    .searchbox-wrap {
      display: flex;
      width: 80%;
      // margin-left: auto;
      // margin-right: auto;

      input {
        flex: 1;
        padding: 20px 20px;
        font-size: 0.9em;

        -webkit-border-top-left-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-bottomleft: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        box-shadow: none;
        border: solid 1px #a6b1bf;
      }

      button {
        border: solid 1px #a6b1bf;

        padding: 0;
        background-color: #fff;
        -webkit-border-top-right-radius: 25px;
        -webkit-border-bottom-right-radius: 25px;
        -moz-border-radius-topright: 25px;
        -moz-border-radius-bottomright: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border: solid 1px #a6b1bf;
        cursor: pointer;
        cursor: hand;
        background-color: #000;
        img{
          filter: invert(70%) sepia(95%) saturate(703%) hue-rotate(324deg) brightness(99%) contrast(90%);
          padding: 10px;  
        }

      }
      
    }
    .emailSent{
      width: 100%;
      background-color:transparent;
      border: none;
      span {
        
        display: block;
        padding: 10px 20px;
        font-size: 0.9em;
        font-weight: bold;
        color: #ef9b4d;
        background-color: #1a1b1f;
        border-radius: 20px;

        &:hover {
          background-color: #1a1b1f;
        }
      }
    }
    .err-field{
      font-size: 0.9em;
      font-weight: bold;
      color: #000;
      padding-left: 10px;
      margin-top: 10px;
  }
    .footer-lower {
      border-top: 1.5px solid rgba(154, 148, 148, 0.4);
      div {
        font-size: 0.9rem;
      }
    }

    a {
      color: #000;
    }
  }
  h2 {
    margin-top: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #fafafa;
  }
}
