.featureSection {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding-top: 100px;
  padding-bottom: 80px;

  .side-image {
    display: none;
  }

  .box1 {
    margin-top: 87px;
  }
  .box2 {
    margin-top: -87px;
  }
  .center-img1 {
    display: none;
  }
  .center-img2 img {
    transform: rotate(10deg);
  }
  .cardd {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    font-family: "DM Serif Display", sans-serif;
    .img-div {
      width: 100%;
    }
    .heading-1 {
      color: #000000;
      line-height: 0.7;
    }
    .heading-2 {
      color: #ee9a4d;
    }
    p {
      color: #000;
      font-size: 18px;
      line-height: 1.2;
      font-family: Poppins, sans-serif;
    }
  }
}

@media screen and (max-width: 767px) {
  .featureSection {
    background-color: #ee9a4d;
    .side-image {
      display: block;
      position: absolute;
      left: 0%;
      margin-top: 60px;
      bottom: 0%;
    }

    .box1 {
      margin-top: 0px;
      padding-left: 10%;
    }
    .box2 {
      margin-top: 0px;
      padding-left: 10%;
    }
    .cardd {
      .heading-2 {
        color: #ffffff;
      }
    }
  }
  .center-img1 {
    display: block !important;
    margin-bottom: 20% !important;
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    img {
      padding-right: 0px !important;
    }
  }
  .center-img2 {
    display: none;
  }
  .arrow {
    display: none;
  }
}
